langchain-google-genai
langchain-cohere
langchain-groq
langchain
langgraph
dotenv

numpy
pandas
plotly
kaleido
scipy
statsmodels
scikit-learn
pydantic

cloudinary
pymongo

fastapi
uvicorn
python-multipart